<!DOCTYPE html>
<html>
<head>
<link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <title>SolankiUniverse</title>


<style>
.posts {
        list-style: none;
        text-decoration: none;
        text-align: left;
        margin-left: 20%;
    }
.nav {
    font-size: 20px;
    display: inline-block;
    list-style: none;
}
.nav li{
    margin-left: 10px;
    opacity: 0.6;
    display: inline-block;
    text-decoration: none;
    list-style: none;
}
</style>
<nav><ul class="nav">
    <li><a href=""><p>Posts</p></a></li>
    <li><a href=""><p>Blog-Daily</p></a></li>
    <li><a href=""><p>Social Network</p></a></li></ul></nav>
</head>
<body>{% extends 'base.html' %}
<h1>{% block title %}Solanki-Universe{% endblock %}</h1>

{% block content %}
   <!-- <h2>Categories</h2>
    {% if categories %}
        <ul>
        {% for category in categories %}
            <li><a href="{{ category.get_absolute_url }}">{{ category.title }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>There are no posts.</p>
    {% endif %}
--> 
    
    <div class="posts">
    <h2>Posts</h2>
    {% if posts %}
        <ul>
        {% for post in posts %}
            <li><a href="{{ post.get_absolute_url }}">{{ post.title }}</a><p>{{ post.body }}</p></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>There are no posts.</p>
    {% endif %}
</div>

{% endblock %}</body>
</html>